* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }
  .text-spacing {
      margin: 20px;
      padding-top: 20px;
  }

  .main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: #813d1d;
    color: #fff;
  }
  .card2 {
      flex: 1 0 0;
      padding: 10px;
      text-align: center;
      border-style: solid;
      border-width: 1px; 
      justify-content: flex-start;
      
}

    .card2 header { 
        padding: 20px;
        background: #813d1d;
        color: #fff;


    }
  .card {
    flex: 0 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    justify-content: flex-end;
    

  }
  
  .card header {
    padding: 20px;
    background: #813d1d;
    color: #fff;
  }
  
  .card img {
    width: 100%;
    min-width: 400px;